.container-cart{
    background-color: rgb(60, 60, 60);
    min-height: calc(100vh - 70px);
    padding-top: 10px;
    overflow-x: hidden;
}
.cart-vacio{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 40px;
    color: rgb(236, 236, 236);
}
.cart-items{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    height: 150px;
    border-bottom: 1px solid rgb(165, 165, 165);
    border-radius: 20px;
    width: 90%;
    margin: auto;
    background-color: rgb(39, 39, 39);
}
.cart-description{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 10px;
}
.cart-description h5{
    margin-right: 30px;
    color: rgb(232, 232, 232);
}
.imgs-cart, .cart-items .tshirt{
    display: flex;
    align-items: center;
    padding-left: 15px;
    width: 170px;
    height: 150px;
}
.cart-items .tshirt{
    height: 100px;
    padding-bottom: 60px;
}
.imgs-cart img{
    width: 170px;
    height: 170px;
    object-fit: contain;
}
.cart-items .tshirt img{
    height: 130px;
}
.btn-remove-one{
    all: unset;
    width: 36px;
    height: 38px;
    text-align: center;
    background-color: rgb(205, 2, 2);
    color: rgb(249, 245, 240);
    border-radius: 5px;
}
.btn-remove-one:hover{
    background-color: rgb(166, 0, 0);
    transition: ease all .4s;
}
.total-purchase{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 35px 0;
    color: rgb(232, 232, 232);
    font-size: 19px;
}
.btn-clear-cart{
    all: unset;
    font-size: 16.5px;
    margin-bottom: 10px;
    width: 90px;
    height: 35px;
    text-align: center;
    background-color: rgb(205, 2, 2);
    color: rgb(249, 245, 240);
    border-radius: 5px;
}
.btn-clear-cart:hover{
    background-color: rgb(166, 0, 0);
    transition: ease all .4s;
}
.btn-purchase{
    all: unset;
    font-size: 18px;
    margin-bottom: 10px;
    width: 90px;
    height: 35px;
    text-align: center;
    background-color: rgb(2, 205, 134);
    font-size: 15px;
    color: rgb(249, 245, 240);
    border-radius: 5px;
}
.btn-purchase:hover{
    background-color: rgb(0, 175, 114);
    transition: ease all .4s;
}
.confirm-purchase{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    margin: 50px;
}
.confirm-purchase > p{
    color: black;
    margin-top: 50px;
    padding-bottom: 20px;
}
.confirm-login-register{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    margin: 90px 0 30px 0;
}
.confirm-login-register > p{
    color: black;
    margin-top: 10px;
}
.confirm-login-register .btn-send{
    margin: 20px;
    padding: 5px 8px;
}
.confirm-login-register a{
    text-decoration: none;
}
@media screen and (max-width: 960px) {
    .container-cart{
        height: calc(100vh - 65px);
    }
}
@media screen and (max-width: 800px){
    .cart-description{
        flex-direction: column;
    }
    .cart-items .tshirt{
        height: 110px;
    }
    .tshirt img{
        margin-top: 60px;
    }
}
@media screen and (max-width: 490px){
    .cart-items{
        width: 100%;
    }
    .imgs-cart{
        padding-left: 2px;
        width: 100px;
        height: 130px;
    }
    .imgs-cart img{
        width: 120px;
        height: 140px;
    }
    .cart-items .tshirt{
        height: 130px;
        padding-left: 2px;
        width: 130px;
    }
    .cart-items .tshirt img{
        height: 100px;
        width: 130px;
        object-fit: contain;
        margin: 45px 0 0 0;
    }
    .cart-description h5{
        font-size: 16px;
    }
}
@media screen and (max-width: 320px){
    .cart-description{
        margin-left: -10px;
    }
    .imgs-cart{
        margin: 0 15px 0 -10px;
        width: 80px;
        height: 120px;
    }
    .imgs-cart img{
        width: 100px;
        height: 110px;
    }
    .cart-description h5{
        font-size: 14px;
    }
}