@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;700;800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700;800&display=swap');
*{
  list-style: none;
}
html{
  scroll-behavior: smooth;
}
/* Navbar */
.dropdown-item:hover{
  background-color: rgba(65, 65, 65, .822);
}
.cart-icon{
  margin: 0 20px 0 5px;
  cursor: pointer;
}
@media (max-width: 992px) {
  .cart-icon{
    margin: 10px 0 5px 0;
  }
}
/* item count */
.container-contador{
  background-color: rgb(43, 43, 43);
  width: 90px;
  height: 37px;
  display: flex;
  align-items: center;
  border-radius: 7px;
  color: rgb(245, 245, 245);
}
.btn-suma,.btn-resta{
  cursor: pointer;
  border: none;
  background-color: transparent;
  padding: 0;
  color: rgb(245, 245, 245);
  margin: 0 auto;
}
.btn-suma{
  font-size: 25px;
  padding-top: 1px;
}
.btn-resta{
  font-size: 31px;
  padding-top: 2px;
}
.btn-suma:active,.btn-resta:active{
  transform: scale(.9);
}
.contador{
  margin: 0 4px;
}