/* Navbar */
.dropdown-item:hover{
  background-color: rgba(65, 65, 65, .822);
}
.cart-icon{
  margin: 0 20px 0 5px;
  cursor: pointer;
}
.item-list{
  column-gap: 30px; 
  display: flex;
  flex-wrap: wrap;
}
.item-list-container,.item-detail-container{
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 27px;
  padding-top: 5px;
}
@media (max-width: 992px) {
  .cart-icon{
    margin: 10px 0 5px 0;
  }
}
/* item count */
.container-contador{
  background-color: rgb(43, 43, 43);
  width: 70px;
  height: 31px;
  margin: 4px 12px 6px 0;
  display: flex;
  align-items: center;
  border-radius: 7px;
  color: rgb(245, 245, 245);
}
.btn-suma,.btn-resta{
  cursor: pointer;
  border: none;
  background-color: transparent;
  padding: 0;
  color: rgb(245, 245, 245);
  margin: auto;
}
.btn-suma{
  font-size: 19px;
  padding-bottom: 2px;
}
.btn-resta{
  font-size: 23px;
  padding: 0 0 2px 1px;
}
.btn-suma:active,.btn-resta:active{
  transform: scale(.9);
}
.contador{
  margin: 0 4px;
}
/* Form */
.form-purchase{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.form-purchase label{
  margin: 7px 0;  
}
.form-purchase input{
  width: 60%;
  padding: 3px;
}
.form-purchase button{
  margin-top: 15px;
}
.input-error{
  color: rgb(226, 11, 11);
  font-size: 15px;
}
.submitted-form{
  margin-top: 13px;
}
.submitted-form small{
  color: rgb(34, 214, 2);
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 15px;
}
footer{
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #272b2e;
  color:rgb(245, 245, 245);
  height: 100px;
}
footer h4{
  font-size: 18px;
}